.home{
    padding: 0;
    margin: 160px 5px;
    height: 46vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-image: url('../images/home.jpg');
    background-size: cover; */
  /* opacity: calc(194); */

}
.title{
    font-size: large;
    font-weight: 600;
    margin: 40px 0;
    color:rgb(105, 34, 34);
    text-align: center;
    width: 25vw;
    margin: 0 auto;
    justify-self: center;
    background-color: transparent;

}