.home{
 

}
.title{
    font-size: large;
    font-weight: 600;
    margin: 40px 0;
    color:rgb(105, 34, 34);
    text-align: center;
    width: 25vw;
    margin: 0 auto;
    justify-self: center;
    background-color: transparent;

}